/* hps_teacher_conract css
 * desktop, tablet, mobile views */

* {
  box-sizing: border-box;
}

body {
  margin: 0 0 500px 0;
  /*font-family: 'Trebuchet MS', helvetica, sans-serif;*/
}

nav {
  position: fixed;
  top: 0;
  width: 400px;
  height: 100%;
  overflow-y: auto;
  padding-left: 20px;
}

nav h1 a {
  text-decoration: none;
  color: #000;
}

nav ul {
  padding: 0 0 50px 0;
}

nav li {
  list-style-type: none;
  margin: 4px 0;
}

nav li a {
  text-decoration: none;
}

main {
  margin-left: 400px;
  line-height: 1.4rem;
  padding: 0 20px;
}

section h1 {
  padding-top: 30px;
}

#title h1,
#title h3 {
  text-align: center;
  line-height: 3rem;
}

#title h3 {
  margin-bottom: 50px;
}

img {
  width: 300px;
}

.italics {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.black-border {
  border: 1px solid #000;
}

.box {
  border: 1px solid #000;
}

.center-table {
  width: 80%;
  margin: auto;
}

.no-bullets {
  list-style-type: none;
}

#article-xii table {
  border-collapse: collapse;
}

#article-xii th {
  vertical-align: top;
}

#article-xii td,
#article-xii th {
  border: 1px solid #000;
  padding: 0;
  text-align: center;
}

#article-xxxii table {
  border-collapse: collapse;
  text-align: center;
}

#salary-table td,
#salary-table th {
  border: 1px solid #000;
}

#article-xxxiii table {
  text-align: left;
  margin-bottom: 20px;
}

#article-xxxiii th {
  width: 400px;
}

.grade-tab {
  padding-left: 50px;
}

#signed {
  margin-top: 150px;
}

#signed table {
  text-align: left;
}

#signed th {
  padding-bottom: 60px;
}
